.header {
    width: 100%;
    padding: 2%;
    color: black;
    text-align: center;
    font-size: xx-large;
  }
  
.mrgnbtm {
    margin-top: 20px;
}

.btncenter {
    text-align: center;
}

.my-dropdown-toggle {
    border-radius: 5px;
  
    ::v-deep .dropdown-toggle {
      color: tomato;
      font-size: 25px;
      font-weight: 800;
    }
  
    ::v-deep .dropdown-toggle-placeholder {
      color: #c4c4c4;
    }
  }